<div class="detail-category container mt-5">
    <div class="row pb-5">
        <h2 class="detail-category-title text-center col-xl-12 mt-5 pb-4">Reasons to Buy a <span>{{category.nameCategory}}</span> Watch</h2>
        <div class="detail-category-image col-xl-6">
            <img src="{{category.image}}" width="100%" />
        </div>
        <div class="detail-category-text col-xl-6">
            Many consider <span>{{category.nameCategory}}</span> to be the epitome of luxury watches, and not without reason. <span>{{category.nameCategory}}</span>'s models are iconic in the watch
            industry, often serving as the blueprint for entire watch categories. Take for example the <span>{{category.nameCategory}}</span> Submariner; although it
            was by no means the first of its kind, this model is deemed the quintessential diving watch. The GMT-Master was just as
            influential, radicalizing GMT watches with its two-tone 24-hour ring.
            <br>
            Prestige, excellent quality, and timeless designs are all synonymous with <span>{{category.nameCategory}}</span>, and demand for timepieces produced by
            the Swiss giant has been reaching new heights as a result. However, high demand coupled with limited availability leads
            to one thing: ever-increasing prices. This means that <span>{{category.nameCategory}}</span> watches are very likely to appreciate and can, therefore,
            make for profitable investments.
            <br>
            Over the last two years, virtually every model in the current catalog has increased in value. Top performers include
            watches from the Daytona, Submariner, and GMT-Master II collections, which have more than doubled in value in some cases. But they're by no means
            an exception: even exotic models like the Milgauss, Sky-Dweller, and Air-King have appreciated by 50–80% lately. Vintage
            watches sing the same tune; make for worthwhile investments with eye-watering returns.
            <br>
            Ultimately, you should buy a <span>{{category.nameCategory}}</span> watch for the following reasons: High investment potential, Ultimate luxury and status symbol, 
            Timeless designs with outstanding in-house movements.
        </div>
        
    </div>
</div>